
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{Html.RenderAction("ProductCategory", "Product");}
<div class="w3l_banner_nav_right">

    <div class="alert alert-success">
        Đặt hàng thành công
    </div>

</div>
